* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #555;
  --primary50: #defff9;
  --primary100: #aefcef;
  --primary200: #83f5e2;
  --primary300: #5bebd3;
  --primary400: #2ee5c7;
  --primary500: #24d1b4;
  --primary600: #28b099;
  --primary700: #2a907f;
  --primary800: #297367;
  --primary900: #265850;
  --backgroundColor: #f3f6f4;
}

body {
  color: var(--text-color);
  font-family: 'Noto Sans', sans-serif;
  position: static;
  background-color: var(--backgroundColor);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
}

.sub-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
