.page {
  display: grid;
  grid-template-columns: minmax(200px, 0.3fr) 1fr;
  box-sizing: border-box;
  height: 100vh;
}

.page-menu {
  background-color: var(--primary300);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a.home-button {
  position: absolute;
  top: 30px;
  right: -50px;
}

a.home-button:hover::before {
  content: "Back to Home";
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(100%, -50%);
  width: max-content;
  background-color: var(--primary600);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--primary50);
}

.page-menu-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.page-menu-list li:first-child {
  font-weight: bold;
  font-size: 30px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px 30px;
  max-width: 1200px;
}

article h2 {
  font-size: 36px;
}

article img {
  width: 100%;
  max-width: 600px;
  align-self: center;
  margin: 30px 0;
}

article p {
  font-size: 18px;
  line-height: 1.5;
  margin: 30px 0;
}
