#header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary300);
  z-index: 100;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 50px;
}

/* SWIPER */
.main-swiper {
  height: calc(100vh - 50px);
  width: 100%;
}

.main-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-swiper .swiper-slide img {
  object-fit: cover;
}

.down-button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
}

.sub-swiper {
  height: 500px;
  width: 70vw;
}

.container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

a.page-nav-button {
  position: relative;
}

a.page-nav-button:hover::before {
  content: "Go to My Likes";
  display: block;
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(100%, -50%);
  width: max-content;
  background-color: var(--primary600);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--primary50);
}

.contact-me a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--primary300);
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.contact-me a:hover {
  background-color: var(--primary500);
  transition: all 0.3s;
}
