#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aquamarine;
  z-index: 100;
}

#nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 50px;
}

/* SWIPER */
.main-swiper {
  height: 100vh;
  width: 100%;
}

.main-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color */
  /* color */
}

.sub-swiper {
  height: 500px;
  width: 70vw;
}
